<form action="/<%= @file_name %>" method="post">
  <label for="file_content">Edit content of <%= @file_name %>:</label>
  <div>
    <textarea name="file_content" rows="20" cols="100"><%= @file_content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>
<br />

<% unless @history_files.empty? %>
  <div><a href="history">View History</a></div>
<% end %>