<!doctype html>
<html lang="en-US">
  <head>
    <title>Content Management System</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  </head>
  <body>
    <% if session[:message] %>
    <div class="message">
      <p><%= session.delete(:message) %></p>
    </div>
    <% end %>
    <%= yield %>
  <footer>
    <br />
    <div>Back to <a href="/">index</a></div>
  </footer>
  </body>
</html>