<form action="/new" method="post">
  <label for="document_name">Add a new document:</label>
  <input type="text" name="document_name" >
  <button type="submit">Create</button>
</form>

<br />
<h2>or....</h2>
<br />

<form action="/uploadimage" method="post" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/jpeg" value="Choose Image">
  <input type="submit" value="Upload Image">
</form>