<form action="/users/signup" method="post">
  <div><label for="username">Username: </label><input type="text" name="username" value="<%= params[:username] %>" ></div>
  <div><label for="password1">Password: </label><input type="password" name="password1" ></div>
  <div><label for="password2">Verify Password: </label><input type="password" name="password2" ></div>
  <button type="submit">Create Account</button>
</form>